.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;

  .hero {
    max-width: 200px;
  }

  span {
    display: flex;
    gap: 25px;
    justify-content: center;

    a {
      margin: 0;
      img {
        width: 30px;
      }
    }
  }

  .socials {
    border-radius: 0;
  }

  a {
    width: fit-content;
    align-self: center;
  }

  button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  }

  button:hover {
    transform: scale(1.05);
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}

.colorModeContainer {
  position: relative;
}

.colorMode {
  position: absolute;
  right: 0;
  width: 30px;
}

.colorMode:hover {
  cursor: pointer;
}

.description {
  max-width: 24ch;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.scrollButton {
  position: absolute;
  bottom: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  animation: bounce 2s infinite;
}

.arrow {
  height: 50px;
  width: 50px;
}

.scrollButton:hover {
  animation: none;
  transform: scale(1.02);
}

.scrollButton:active {
  transform: scale(0.5);
}

@media (width >= 800px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .hero {
      max-width: 350px;
      width: 350px;
    }
  }
}

@media (width >= 1400px) {
  .container {
    justify-content: space-evenly;
    .hero {
      max-width: 400px;
      width: 400px;
    }
  }
}
